<div class="container">
    <h1>{{title}}</h1>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="isScrollWheel" [clickableIcons]="isScrollWheel">
        <agm-marker [latitude]="source.latitude" [longitude]="source.longitude" [iconUrl]="'../../assets/images/source.png'"></agm-marker>
        <agm-marker *ngFor="let marker of coordinates;let i=index" [latitude]="marker.latitude" [longitude]="marker.longitude" (markerClick)="displayStatus(marker)" [iconUrl]="'../../assets/images/inTransit.png'"></agm-marker>
        <agm-marker *ngIf="destination" [latitude]="destination.latitude" [longitude]="destination.longitude" [iconUrl]="'../../assets/images/destination.png'" (mouseOver)="displayStatus(destination)"></agm-marker>

        <!-- <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker> -->
    </agm-map>


</div>