<div class="container">
    <div class="d-flex align-items-center  text-center  order-container" *ngIf="!validOrder">
        <div class="col-sm-2">
            <img [src]="imageUrl" ngClass="pizza-image">
            <label><b>Margherita</b></label>
        </div>
        <div class="col-sm-2 text-center ">

            <select ngClass="form-inputs" class="form-control-sm">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <label><b>Quantity:</b></label>
        </div>

        <div class="col-sm-3 text-center ">

            <select class="form-control-sm" [(ngModel)]="deliveryLocation" (ngModelChange)="setLocation($event,deliveryLoc.value)" #deliveryLoc>
              <option *ngFor="let loc of deliveryLocations">{{loc}}</option>
            </select>
            <label><b>Delivery Location:</b></label>
        </div>
        <div class="col-sm-3 text-center">

            <input type="text" maxlength="10" class="form-control-sm" [(ngModel)]="mobile" />
            <label><b>Mobile Number:</b></label>
        </div>
        <div class="col-sm-2 text-center submit-button">
            <button class="btn btn-outline-danger place-order-button" (click)="submitOrder()">Place Order
            </button>
        </div>
    </div>
    <div class="text-center" *ngIf="orderSubmitted && validOrder && orderSuccess">
        <div class="alert alert-success">
            Keep calm and wait for Pizza!
        </div>
        <button class="btn btn-primary" routerLink="/track-order">Track Order</button>
    </div>
    <div class="alert alert-danger" *ngIf="orderSubmitted && !validOrder">
        Please enter a valid mobile number!
    </div>
    <div class="text-center alert alert-danger" *ngIf="orderSubmitted && validOrder && !orderSuccess">
        No Pizza for today.Try home made food!
    </div>
</div>