<div class="container">
  <div class="row  text-center  order-container" *ngIf="!validOrder">
    <div class="col-sm-2">
      <img [src]="imageUrl" ngClass="pizza-image">
      <div class="order-header"><b>Margherita</b></div>
    </div>
    <div class="col-sm-2 text-center ">
      <div class="order-header"><b>Quantity Ordered:</b></div>
      <div><select ngClass="form-inputs" class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      </select></div>
    </div>
    <div class="col-sm-2 text-center ">
      <div class="order-header"><span><b>Delivery Location:</b></span></div>
      <div>
        <select ngClass="form-inputs" class="form-control" [(ngModel)]="deliveryLocation" (ngModelChange)="setLocation($event,deliveryLoc.value)"
          #deliveryLoc>
           <option *ngFor="let loc of deliveryLocations">{{loc}}</option>
          </select>
      </div>
    </div>
    <div class="col-sm-2 text-center ">
      <div class="order-header"><b>Delivery Type:</b></div>
      <div><select ngClass="form-inputs" class="form-control" [(ngModel)]="deliveryType" (ngModelChange)="changeDeliveryType($event,type.value)"
          #type>
      <option>Bike</option>
      <option>Moped</option>
      <option>Drone</option>
      </select></div>
    </div>
     
    <div class="col-sm-1 text-center ">
      <div class="order-header"><b>Shipping Charge:</b></div>
      <div>Rs.{{shippingCost}}</div>
    </div>
    <div class="col-sm-2 text-center ">
      <div class="order-header"><b>Mobile Number:</b></div>
      <div><input type="text" ngClass="form-inputs" class="form-control" [(ngModel)]="mobile" /></div>
    </div>
    <div class="col-sm-1 text-center ">
      <button class="btn btn-primary place-order-button" (click)="submitOrder()">
      Place Order
    </button>
    </div>
  </div>
  <div class="text-center" *ngIf="orderSubmitted && validOrder && orderSuccess">
    <div class="alert alert-success">
      Keep calm and wait for Pizza!
    </div>
    <button class="btn btn-primary" routerLink="/track-order">Track Order</button>
  </div>
  <div class="alert alert-danger" *ngIf="orderSubmitted && !validOrder">
    Please enter a valid mobile number!
  </div>
  <div class="text-center alert alert-danger" *ngIf="orderSubmitted && validOrder && !orderSuccess">
    No Pizza for today.Try home made food!
  </div>
</div>
